.card {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background-color: #64d583;
  width: 325px;
  height: 205px;
  border-radius: 20px;
  box-sizing: border-box;
  padding: 20px;
  list-style-type: none;
}

.card__link {
  position: absolute;
  inset: 0;
  z-index: 2;
}

.card__title {
  margin-bottom: 32px;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.2;
  margin: 0;
  margin-bottom: 32px;
}

.card__row {
  border-radius: 20px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.2;
  color: #1a1a1a80;
}

.card__count {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
}

.card__delete-btn {
  z-index: 2;
  width: 24px;
  height: 24px;
  background-color: transparent;
  background-image: url("../images/delete.svg");
  opacity: 50%;
  cursor: pointer;
}

.card__delete-btn:hover {
  opacity: 100%;
}

.card_color_blue {
  background-color: #91a8f9;
}

.card_color_pink {
  background-color: #ee92d7;
}

.card_color_purple {
  background-color: #aa8ef0;
}

.card_color_orange {
  background-color: #ee955e;
}

.card_color_yellow {
  background-color: #f5d770;
}