.carousel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.carousel__title {
  margin-top: 46px;
  font-weight: 500;
  font-size: 14px;
  color: #1a1a1a80;
}

.carousel__row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.carousel__card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 440px;
  height: 300px;
  background-color: #64d583;
  padding: 20px;
  margin-top: 32px;
  margin-bottom: 24px;
  border-radius: 20px;
}

.carousel__card_color_blue {
  background-color: #91a8f9;
}

.carousel__card_color_pink {
  background-color: #ee92d7;
}

.carousel__card_color_purple {
  background-color: #aa8ef0;
}

.carousel__card_color_orange {
  background-color: #ee955e;
}

.carousel__card_color_yellow {
  background-color: #f5d770;
}

.carousel__card_color_white {
  background-color: #fff;
}

.carousel__card-text {
  text-align: center;
}

.carousel__btn {
  background-color: #fff;
  width: 44px;
  height: 44px;
  border-radius: 8px;
  background-repeat: no-repeat;
  background-position: center;
}

.carousel__btn_type_left::before {
  display: block;
  content: "";
  background-image: url("../images/left.svg");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 8px;
  opacity: 50%;
  width: 100%;
  height: 100%;
}

.carousel__btn_type_right::before {
  display: block;
  content: "";
  background-image: url("../images/right.svg");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 8px;
  opacity: 50%;
  width: 100%;
  height: 100%;
}

.carousel__btn_type_flip::before {
  display: block;
  content: "";
  background-image: url("../images/flip.svg");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 8px;
  opacity: 50%;
  width: 100%;
  height: 100%;
}

.carousel__btn:hover::before {
  opacity: 100%;
}

.carousel__btn_disabled::before {
  opacity: 20%;
}

.carousel__btn_disabled:hover::before {
  cursor: default;
}