.gallery {
  font-weight: 700;
  font-size: 40px;
}

.gallery__title {
  font-size: 40px;
  font-weight: 700;
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: 40px;
}

.gallery__list {
  margin: 0;
  padding: 0;
}

.gallery__new-card-btn {
  width: 325px;
  height: 205px;
  padding: 20px;
  display: flex;
  border-radius: 20px;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.2;
  background-color: #c5c5c5;
  color: #1a1a1a80;
  cursor: pointer;
}

.gallery__new-card-btn:hover {
  background-color: #c5c5c5;
  color: #1a1a1a;
}