.nav {
  font-family: sans-serif;
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  padding-top: 10px;
  margin-bottom: 20px;
}

.nav__links {
  display: flex;
  column-gap: 30px;
  list-style-type: none;
  font-weight: 500;
  font-size: 16px;
}

.nav__link {
  color: #444444;
  text-decoration: none;
}

.nav__link:hover {
  text-decoration: underline;
}