.new-deck-view {
  margin: 0 auto;
  font-size: 16px;
  line-height: 20px;
  font-family: "Cabinet Grotesk", "Helvetica Neue", Arial, sans-serif;
  background-color: #ececec;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 670px;
  width: 100%;
}
.new-deck-view__title {
  font-family: Inter;
  font-weight: 700;
  font-style: Bold;
  font-size: 40px;
}

.new-deck-view__form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.new-deck-view__legend {
  margin-bottom: 12px;
}

.new-deck-view__color-picker {
  border: none;
  margin-top: 32px;
  padding: 0;
}

.new-deck-view__color-input {
  appearance: none;
  width: 32px;
  height: 32px;
  border-radius: 4px;
}

.new-deck-view__color-input:checked {
  border: 2px solid rgb(0 0 0 / 0.2);
}

.new-deck-view__color-input_color_green {
  background-color: "#64D583";
}
.new-deck-view__color-input_color_blue {
  background-color: #91a8f9;
}
.new-deck-view__color-input_color_purple {
  background-color: #aa8ef0;
}
.new-deck-view__color-input_color_pink {
  background-color: #ee92d7;
}
.new-deck-view__color-input_color_orange {
  background-color: #ee955e;
}
.new-deck-view__color-input_color_yellow {
  background-color: #f5d770;
}

.new-deck-view__json-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.new-deck-view__textarea-input {
  margin-bottom: 32px;
  width: 670px;
  height: 230px;
  border-radius: 8px;
  opacity: 30%;
}

.new-deck-view__submit-btn {
  padding: 12px 16px 14px;
  background: var(--Black-Black, #1a1a1a);
  color: #fff;
  border-radius: 8px;
  width: 172px;
  height: 44px;
}

.new-deck-view__submit-btn:disabled {
  opacity: 30%;
  cursor: not-allowed;
}

.new-deck-view__submit-btn:hover {
  background:
    linear-gradient(0deg, #1a1a1a, #1a1a1a),
    linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 55.81%,
      rgba(255, 255, 255, 0.3) 100%
    );
}
