.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #ececec;
  font-family: Inter, Arial, Helvetica, sans-serif;
  color: #1a1a1a;
  line-height: 1;
  padding: 20px 40px 32px;
  max-width: 1440px;
  margin: 0 auto;
  box-sizing: border-box;
}

.page__main-content {
  flex-grow: 1;
  margin-bottom: 138px;
}
