.wrapping-row {
  display: flex;
  flex-wrap: wrap;
  gap: 18px 20px;
}

.wrapping-row__display-contents {
  display: contents;
}

/* @media screen and (min-width: 750px) {
  .wrapping-row {
    grid-template-columns: repeat(auto-fill, 325px);
  }
} */